.itemListStyle {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(20,20,20,0.5);
    padding: 0px 0px;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 40px;
}

.title {
    color: white;
    width: 100%;
    margin: 20px auto;
    padding: 15px 0px;
    text-align: center;
    background-color: rgb(20,20,20,0.5);
    border-radius: 7px;
}

.itemListStyle__noProducts{
    color: azure;
    width: 100%;
    text-align: center;
    margin: 50px 0px;
    display: block;
}

.backToHome__link {
    display: block;
    width: 20%;
    margin: 0px 40%;
    padding: 20px;
    color: azure;
    font-size: 20px;
    text-align: center;
    border-radius: 7px;
    background-color: rgba(0,0,0,0.5);
    text-decoration: none;
    margin-bottom: 100px;
}

