.itemCountContainer {
    width: 20vw;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    border-radius: 7px;
}

.itemCountContainer h2 {
    margin: 0rem;
    font-size: 2rem;
    text-align: center;
}

.itemCountContainer span {
    color: grey;
    margin: 0rem;
}

.itemCountContainer img {
    margin-bottom: 1rem;
    border-radius: 7px 7px 0px 0px;
    width: 100%;
    box-shadow: 0px 0px 5px black;
}

.itemCountContainer .descBtn {
    width: 100%;
    height: 50px;
    border: 2px solid rgb(139, 162, 231);
    border-radius: 7px;
    color: rgb(63, 63, 63);
    background-color: rgb(208, 224, 240);
    font-size: calc(2vh);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.itemCountContainer .descBtn {
    width: 80%;
    height: 50px;
    margin: 10px 0px;
    text-align: center;
    text-decoration: none;
}

.itemCountContainer .price {
    font-size: 1.2rem;
    margin: 0px;
    font-weight: bold;
}

.itemCountContainer .descBtn:hover {
    background-color: rgb(174, 209, 244);
}

.descBtn_dis {
    background-color: lightgrey !important;
    border: 2px solid grey !important;
}