.cartItem {
    width: 80%;
    background-color: azure;
    border-radius: 7px;
    margin: 10px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

.cartItem p {
    text-align: center;
    font-weight: bold;
}

.cartItem .cartItem__name {
    width: 20%;
}

.cartItem .cartItem__button button{
    background-color: crimson;
    color: white;
    border: 5px solid crimson;
}

.cartItem .cartItem__button button:hover {
    cursor: pointer;
}